* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-inner img {
    width: 100%;
    height: 90vh;
}
.aboutimg {
    width: 100%;
    height: 250px!important;
}

body {
    background-color: #ffffff;
    font-family: 'Karla', sans-serif;
    background-attachment: fixed;

}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.container {
    width: 90%;
    margin: 100px auto;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    border-left: 10px solid #0c5810;
    padding-left: 10px;
    margin-bottom: 30px;
}

.row {
    overflow: hidden;
}

.card {
    display: table-row;
    width: 49%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    position: relative;
}

.card + .card {
    margin-left: 2%;
}

.date {
    display: table-cell;
    color: #000000;
    /*effects month color */
    width: 25%;
    position: relative;
    text-align: center;
    border-right: 2px dashed #e60000;
}

.date:after {
    top: auto;
    bottom: -15px;
}

.date time {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.date time span {
    display: block;
}

.date time span:first-child {
    color: #2b2b2b;
    font-weight: 600;
    font-size: 250%;
}

.date time span:last-child {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -10px;
}

.card-cont {
    display: table-cell;
    width: 75%;
    font-size: 85%;
    padding: 10px 10px 30px 50px;
}


.card-cont > div {
    display: table-row;
}

.card-cont .even-date i,
.card-cont .even-date time,
.card-cont .even-info i,
.card-cont .even-info p {
    display: table-cell;
}

.card-cont .even-date i,
.card-cont .even-info i {
    padding: 5% 5% 0 0;
}

.card-cont .even-info p {
    padding: 30px 50px 0 0;
}

.card-cont .even-date time span {
    color: rgb(0, 0,0);
    display: block;
}

.card-cont a {
    display: block;
    text-decoration: none;
    width: 80px;
    height: 30px;
    background-color: #049ff8;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.row:last-child .card:first-child .card-cont a {
    background-color: #018af3;
}

.row:last-child .card:last-child .card-cont a {
    background-color: #00f700;
}

@media screen and (max-width: 860px) {
    .card {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .card + .card {
        margin-left: 0;
    }

    .card-cont .even-date,
    .card-cont .even-info {
        font-size: 75%;
    }
}

